body {
    color: black;
    margin: 0px auto;
    width: 40em;
}

h2 {
    font-size: 1.1em;
    font-family: Sans-Serif;
}

div.leftright {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#covering {
	float: right;
	height: 40ex;
}

div#menu {
	padding: 0.5ex 0px 0.5ex 0px;
    	border-bottom: 0.5ex solid black;
	font-size: 1.3em;
    	font-weight: bold;
    	font-family: Sans-Serif;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

div#logo a {
	color: black;
	text-decoration: none;
}


div#menu #navigation a {
	color: black;
	text-decoration: none;
	margin-left: 1em;
}

h1 {
	font-size: 1.5em;
	font-family: Sans-Serif;
}

h3.talks {
    font-size: unset;
    font-weight: unset;
}

p.talks {
    margin-left: 3ex;
}

p {
	margin-top: 0;
}

div.talktitle {
    font-style: italic;
    margin-top: 1ex;
    margin-left: 3ex;
    margin-bottom: 1ex;

}

#boysurface {
	float: right;
	height: 20ex;
}

#bulb {
  height: 15ex;
}

#matrix {
	height: 15ex;
}

#vectorfield {
	height: 15ex;
}

#myphoto {
	height: 27ex;
}

div.publication {
	margin-bottom: 1ex;
}
